.timechart {
  position: relative; }

.timechart_main {
  margin: 0px auto auto 0px;
  height: 400px;
  width: 600px;
  background-color: white;
  position: relative; }

.tc_slider {
  margin: 5px auto auto 0px;
  padding: 0px;
  border: 0px;
  width: 600px;
  height: 20px;
  background-color: #ffeeee;
  position: relative; }

.tc_slider_front {
  padding: 0px;
  border: 0px;
  width: 600px;
  height: 20px;
  position: absolute;
  top: 0px;
  background-color: #eeee00; }

.tc_slider_border {
  padding: 0px;
  border: 0px;
  width: 2px;
  height: 20px;
  position: absolute;
  top: 0px;
  background-color: red; }

.tc_slider_left {
  position: absolute;
  left: 0px; }

.tc_slider_right {
  position: absolute;
  right: 0px; }

body {
  background-color: #87cefa; }
